<h1>Listing comparisons</h1>

<table>
  <thead>
    <tr>
      <th>Winning habit</th>
      <th>Habit id 1</th>
      <th>Habit id 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comparisons.each do |comparison| %>
      <tr>
        <td><%= comparison.winning_habit_id %></td>
        <td><%= comparison.habit_id_1 %></td>
        <td><%= comparison.habit_id_2 %></td>
        <td><%= link_to 'Show', comparison %></td>
        <td><%= link_to 'Edit', edit_comparison_path(comparison) %></td>
        <td><%= link_to 'Destroy', comparison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comparison', new_comparison_path %>
