<p id="notice"><%= notice %></p>

<p>
  <strong>Habit:</strong>
  <%= @checkin.habit_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @checkin.time %>
</p>

<p>
  <strong>Happiness score:</strong>
  <%= @checkin.happiness_score %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
