<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @habit.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @habit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @habit.description %>
</p>

<p>
  <strong>Weekly frequency:</strong>
  <%= @habit.weekly_frequency %>
</p>

<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
